html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
#myVideo {
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "IBM Plex Serif", serif;
  text-shadow: 2px 2px 0 #071218;
}
.subheading {
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  font-family: "Arimo", sans-serif;
  text-shadow: 2px 2px 0 #071218;
}
.pronouns {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  font-family: "Arimo", sans-serif;
  text-shadow: 2px 2px 0 #071218;
}
.intro {
  color: #cbcccd;
  letter-spacing: 2px;
  text-align: center;
}
.intro-text {
  z-index: 2;
  font-family: "Arimo", sans-serif;
}
.about {
  display: flex;
  justify-content: center;


  font-family: "Arimo", sans-serif;


  text-align: center;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;

width: 100%;
  background-color: #4dad9c;
}
.headshot {
    width: fit-content;
    margin-left: 0%;


  }
.colorBox {
    background-color: #071218;

    width: 100%;
    flex-direction: column;
  height: 20%;
  justify-content: end;
}
.description {
    padding: 2em;
    font-family: "Arimo", sans-serif;
    font-size: 1.5em;
    color: #eae7dc;
    
    text-align: center;
}
.project-buttons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .project-buttons {
    display: inline;
  }
}
.buttons {
  background-color: #e85a4f;
  color: #eae7dc;
  font-size: 2em;
  padding: 0 2em;
  margin: 5% 1em;
  width: 6em;
  height: 5em;
  justify-content: center;
}

.site-info {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.nav-menu {
  text-align: center;
  width: 100%;
  font-size: 200%;
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.1rem;
  background-color: #8e8d8a;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
@media screen and (max-width: 750px) {
  .nav-menu {
    display: inline-grid;
    padding: 10px;
  }
}
.link-nav {
  background-color: #8e8d8a;
  color: #eae7dc;
  text-decoration: none;
}
#idea {
  padding-right: 60%;
}


@media screen and (max-width: 750px) {
  .headshot {
    display: none;
    opacity: 0;
  }
}
